.main {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  height: 100vh;
  background-image: url('../../../dist/images/greg-rakozy-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
