@import '../../../dist/scss/styles';

.rightList {
  width: 200px;
  display: flex;
  justify-content: space-between;

  @include navHover;
}

.logoLink {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
}
