@import '../../../dist/scss/styles';

.navBar {
  @include navigation;
}

.logoLink {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
}

.leftNav {
  display: flex;
  padding-top: 6px;
}

.navMenu {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  @include navHover;
}

.dropdownTitle {
  margin: {
    right: 10px;
  }
}

.hamburgerIcon {
  display: none;
}

@media screen and (max-width: 960px) {
  .hamburgerIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

// https://github.com/briancodex/react-navbar-dropdown/blob/master/src/components/Navbar.css
// https://github.com/briancodex/react-navbar-dropdown/blob/master/src/components/Navbar.js
// https://youtu.be/T2MhVxJxsL0
