@import '../../../dist/scss/styles';

.dropdownMenu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;

  li {
    background: $brand-color;
    cursor: pointer;

    &:hover {
      background: $success;
    }
  }

  .clicked {
    display: none;
  }
}

.dropdownLink {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: $white;
  padding: 16px;
}

.rightList {
  width: 300px;
  display: flex;
  justify-content: space-between;

  @include navHover;
}
